<h1>Editing Password Cliente</h1>

<%= form_with(model: @cliente) do |form| %>
    <% if @cliente.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>
  
        <ul>
          <% cliente.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field form-group">
      <%= form.label :password %>
      <%= form.password_field :password, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class:"form-control" %>
    </div>
  
  
    <br>
    <div class="actions">
      <%= form.submit class:"btn btn-primary" %>
    </div>

<% end %>

<br>
<%= link_to 'Show', @cliente, class:"btn btn-primary" %> 
<%= link_to 'Back', clientes_path, class:"btn btn-primary" %>
