<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table class="table table-bordered">
  <thead class="table table-dark">
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Usuario</th>
      <th>Saldo</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nome %></td>
        <td><%= cliente.email %></td>
        <td><%= cliente.usuario %></td>
        <td><%= cliente.saldo %></td>
        <td><%= link_to 'Show', cliente %></td>
        <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Edit Password', edit_password_cliente_path(cliente) %></td>
        <td><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ New Cliente', new_cliente_path, class:"btn btn-primary" %>
