<p id="notice"><%= notice %></p>

<h1>Vendidos</h1>

<table class="table table-bordered">
  <thead class="table table-dark">
    <tr>
      <th>Produto</th>
      <th>Cliente</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @venders.each do |vender| %>
      <tr>
        <td><%= vender.produto.try(:nome) %></td>
        <td><%= vender.cliente.try(:usuario) %></td>
        <td>  
            <% if vender.cliente.try(:saldo) >= vender.produto.try(:preco) %>
                <p style="color: green;">Vendido</p>
              <% else %>
                <p style="color: red;">Sem Saldo</p>
            <% end %>
        </td>  
        <td><%= link_to 'Show', vender %></td>
        <td><%= link_to 'Edit', edit_vender_path(vender) %></td>
        <td><%= link_to 'Destroy', vender, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Vender', new_vender_path, class:"btn btn-primary" %>
