<p id="notice"><%= notice %></p>

<h1>Pontos</h1>

<table class="table table-bordered">
  <thead class="table table-dark">
    <tr>
      <th>Cliente</th>
      <th>Pontos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pontos.each do |ponto| %>
      <tr>
        <td><%= ponto.cliente_id %></td>
        <td><%= ponto.pontos %></td>
        <td><%= link_to 'Show', ponto %></td>
        <td><%= link_to 'Edit', edit_ponto_path(ponto) %></td>
        <td><%= link_to 'Destroy', ponto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ Pontos', new_ponto_path %>
